on:
  workflow_dispatch:
    inputs:
      APP:
        description: 'App name (e.g. ui)'
        required: true
      VERSION:
        description: 'New version number (e.g. 0.6.35)'
        required: true

jobs:
  update-version-and-raise-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Update config.json with new version
        env:
          APP: ${{ inputs.APP }}
          VERSION: ${{ inputs.VERSION }}
        run: |
          jq '.metadata.labels.appVersion = "'${VERSION}'"' apps/${APP}/config.json > apps/${APP}/config.json.new
          mv apps/${APP}/config.json.new apps/${APP}/config.json

      - name: Raise PR from staging to main
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.CICD_PAT }}
          title: "Update ${APP} app version to ${VERSION}"
          body: "This PR updates the ${APP} app version to ${VERSION}."
          head: staging
          base: main

